<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>bma-timesheet-ios-distribution-p2yu5.ondigitalocean.app/BmaTbmobileLancamento.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>bma-timesheet-ios-distribution-p2yu5.ondigitalocean.app/icon-57@1x.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>bma-timesheet-ios-distribution-p2yu5.ondigitalocean.app/icon-512@1x.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>br.com.bmalaw.BMATimesheet</string>
				<key>bundle-version</key>
				<string>2.1.2</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Timesheet</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
